h1 {
    color:aquamarine;

    /* 
    property(속성):value(값);
    속성과 값을 합쳐서 declaration(선언) 
    h1 {} < 전체를 rule(규칙:선택자와 선언부의 조합) 이라고 함
    
    * {} < 의 경우 요소 전체 적용 (Universal seletor)


    가장 밑의 규칙이 최우선(Cascading)
    부모 요소의 규칙이 자식에도 적용 : 상속(inheritance)
    - 자식 요소에 css가 적용 되어 있다면 상속된 요소 보다 해당 요소를 상위 규칙으로 취급(직접 css가 출력)

    우선순위(Specificity):규칙 충돌 시의 계급
    HTML의 style 속성 > id > class >태그 순의 위계

    */
}

    /* .은 class #은 id */

    .test { 
        color:darkgreen;
    }
    #test1, p {
        color:violet;
    }

    h2.coding { /* h2의 class가 coding인 요소 선택 */
        color:red;
    }

    h2#codings { /* h2의 ID가 codings인 요소 선택 */
        color:red;
    }

    div p {/* div(부모 요소)의 p(하위 요소) */
        color:cornflowerblue;
    }
