h1 {
    color:aquamarine;

    /* 
    property(속성):value(값);
    속성과 값을 합쳐서 declaration(선언) 
    h1 {} < 전체를 rule(규칙:선택자와 선언부의 조합) 이라고 함
    
    * {} < 의 경우 요소 전체 적용 (Universal seletor)

    */
}

    /* .은 class #은 id */

    .test { 
        color:darkgreen;
    }
    #test1, p {
        color:violet;
    }

    h2.coding { /* h2의 class가 coding인 요소 선택 */
        color:red;
    }

    h2#codings { /* h2의 ID가 codings인 요소 선택 */
        color:red;
    }

    div p {/* div(부모 요소)의 p(하위 요소) */
        color:cornflowerblue;
    }
